* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header, 
footer{
    background-color:#323234;
    color:#ffff;
}
.header-content {
    background-color:#323233;
    border: 1px solid black;
    height: 60px;
}

.content {
    background-color: rgb(164, 95, 181);
    border: 1px soldi black;
    height: 150px;
}

.jumbo-content {
    height:300px;
    background-color: brown;
    border: 1px solid black;
}

#jumbotron,
#about-us {
    background-color: #4abf9a;
}

.bottom-footer {
    background-color: #323234;
}

.img {
    position: relative;
}
