.box {
    min-height: 150px;
    border: 1px solid black;
    background-color: rgb(57, 56, 56);
}

.container {
  background-color: #323233;
  color: white;
}
.col-1 {
        background-color: #4abf9a;
        color: white;
        flex-basis:calc((100% / 12) * 1);
}

.col-6 {
    background-color:#9d3c3c;
    color: black;
    flex-basis:calc((100% / 12) * 6);
}
.container-md {
  background-color: #4abf9a;
  color: white; 
}
.text-center {
    text-align: center;
}
.images  {
    position:relative;
    max-width: 50%;
    border-radius: 50%;
}

.images-testimonial {
    max-width: 300px;
}
.images-testimonial img {
    position: relative;
    max-width: 30%;
    border-radius: 50%;
}